@using QuienEsQuien.Models
@{
    ViewBag.Title = "ABM_Personajes_Pregunta";
}
<head>
    <link href="~/Styles/Estilos1.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Cosa.css" rel="stylesheet" />
    <link href="~/Styles/Tables.css" rel="stylesheet" />
</head>
<body class="w3-black">
    <div class="w3-padding-large" id="main">
        @using (Html.BeginForm("EdicionPersonaje_Pregunta", "BackOffice", FormMethod.Post, new { enctype = "multipart/from-data" }))
            <center><h2>@ViewBag.NombrePersonaje</h2></center><br />
            <table align="center" bordercolor="Black" width="350 px">
                <tr style="background-color:#222222">
                    <td><center><h2><b>Personaje</b></h2></center></td>
                    <td><center><h2><b>Pregunta</b></h2></center></td>
                    <td><center><h2><b>Modificar</b></h2></center></td>
                    <td><center><h2><b>Eliminar</b></h2></center></td>
                    <td><center><h2><b>Ver</b></h2></center></td>
                </tr>
                @foreach (Preguntas MiPreg in ViewBag.ListaPreguntas)
            {
                bool v = false;
                    @foreach (Preguntas P in ViewBag.ListaPregsPersonaje)
                {
                    if (MiPreg.IdPregunta == P.IdPregunta)
                    {
                            <tr>
                                <td class="Centrado">
                                    <h3>@P.Texto</h3>
                                </td>
                            </tr>
                            <tr>
                                <td class="Centrado">
                                    <input type="checkbox" name="Box" value=@P.IdPregunta checked="checked" /> <br />
                                </td>
                            </tr>
                        }
                        if (v == false)
                        {
                            <tr>
                                <td class="Centrado">
                                    <h3>@MiPreg.Texto</h3>
                                </td>
                            </tr>
                            <tr>
                                <td class="Centrado">
                                    <input type="checkbox" name="Box" value=@MiPreg.IdPregunta /> <br />
                                </td>
                            </tr>
                        }
                    }
                }
            </table>
            <input type="hidden" name="Id" value=@Model.IdPregunta><br />
            <input type="submit" value="finalizar" />
        </div>
    </body>
