@using QuienEsQuien.Models
@{
    ViewBag.Title = "Arriesgar_personaje";
}
<head>
    <link href="~/Styles/Estilos1.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Cosa.css" rel="stylesheet" />
    <link href="~/Styles/Tables.css" rel="stylesheet" />
    <link href="~/Styles/Buttons.css" rel="stylesheet" />
</head>
<body class="w3-black">
    <div class="w3-padding-large" id="main">
        <center><h2>Personajes</h2></center>
        <br />
        <center><h3>Hace click sobre el nombre de un personaje para arriesgar</h3></center>
        <br />
        <table align="center" bordercolor="Black" style="width:100%">
            <tr style="background-color:#222222">
                <td><center><h2><b>Nombre</b></h2></center></td>
            </tr>
            @{
                List<Personajes> Lista = (List<Personajes>)Session["ListaPersonajes"];
                foreach (Personajes MiPersonaje in Lista)
                {
                    <tr class="Centrado">
                        <td>
                            @Html.ActionLink(MiPersonaje.Nombre, "Arriesgar", "Game", new { Personaje = MiPersonaje.IdPersonaje }, null)
                        </td>
                    </tr>
                }
            }
        </table>
        <input type="hidden" name="IdPreguntaElegida" value="-10" />
    </div>
</body>