@using QuienEsQuien.Models
@{
    ViewBag.Title = "Mostrar Personajes";
}
<head>
    <link href="~/Styles/Estilos1.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Cosa.css" rel="stylesheet" />
    <link href="~/Styles/Tables.css" rel="stylesheet" />
    <link href="~/Styles/Buttons.css" rel="stylesheet" />
</head>
<body class="w3-black">
    <div class="w3-padding-large" id="main">
        @using (Html.BeginForm("Preguntas", "Game", FormMethod.Post))
        {
            <center><h2>Personajes</h2></center>
            <br />
            if (ViewBag.Arriesgar != null)
            {
                <center><h3>Hace click sobre la imágen de un personaje para arriesgar</h3></center>
                <br />
            }
            else
            {
                <center><button class="button black">Siguiente</button></center>
                <br />
                <br />
            }
            <table align="center" bordercolor="Black" style="width:100%">
                <tr style="background-color:#222222">
                    <td><center><h2><b>Imagen</b></h2></center></td>
                    <td><center><h2><b>Nombre</b></h2></center></td>

                </tr>
                @{
                    List<Personajes> Lista = (List<Personajes>)Session["ListaPersonajes"];
                    foreach (Personajes MiPersonaje in Lista)
                    {
                        <tr class="Centrado">
                            <td>
                                @if (ViewBag.Arriesgar != null)
                                {
                                    <button class="button black" name="Personaje" value="@MiPersonaje.IdPersonaje">
                                        <img src="~/Content/@MiPersonaje.Imagen" alt="Foto Personaje" class="img-rounded"
                                             style="width: 100px;
                                             height: 100px" />
                                    </button>
                                }
                                else
                                {
                                    <img src="~/Content/@MiPersonaje.Imagen" alt="Foto Personaje" class="img-rounded"
                                         style="width: 100px;
                                         height: 100px" />
                                }
                            </td>
                            <td>
                                <h3><b>@MiPersonaje.Nombre</b></h3>
                            </td>
                        </tr>
                    }

                }
            </table>
            <input type="hidden" value="@ViewBag.Categoria" name="tCate" />
        }
    </div>
</body>
