@using QuienEsQuien.Models
@{
    ViewBag.Title = "Preguntas";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Cosa.css" rel="stylesheet" />
    <link href="~/Styles/Buttons.css" rel="stylesheet" />
    <link href="~/Styles/Tables.css" rel="stylesheet" />
    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            if (ev.target.id == "drop") {
                ev.target.id = "drop_lleno";
                ev.target.appendChild(document.getElementById(data));
                document.getElementById(data).name = "Pregunta0";
            }
        }
    </script>
    <style>
        .drop {
            width: 100%;
            height: 30px;
            border: 1px solid white;
        }

        ul {
            background-color: white;
            color: black;
            padding: 0px;
        }

        li {
            list-style-type: none;
            border-style: solid;
            border-width: 1.5px;
            border-color: white;
            background-color: black;
            color: white;
            text-align: center;
        }

        .Titulo{
            background-color: #222222;
        }

        .preguntas {
            border-width: 1px 1.5px 1px 1.5px;
        }

        .final {
            border-width: 0px 0px 0.5px 0px;
        }

        .Drop {
            border-style: dashed;
            border-width: 1.5px;
            border-color: white;
            background-color: black;
        }
    </style>
</head>
<body class="w3-black">
    <div class="w3-padding-large" id="main">
        @using (Html.BeginForm("Respuesta", "Game", FormMethod.Post))
        {
            <ul style="width:50%">
                <li class="Titulo"><h2><b>Preguntas</b></h2></li>
                @{
                    List<Preguntas> Lista = (List<Preguntas>)Session["ListaPreguntas"];
                    foreach (Preguntas x in Lista)
                    {
                        <li class="preguntas" value="@x.IdPregunta" name="Pregunta_@x.IdPregunta" id="drag_@x.IdPregunta" draggable="true" ondragstart="drag(event)">@x.Texto</li>
                    }
                }
                <li class="final"></li>
            </ul>
            <div style="position:fixed;top:12px;margin-left:63%">
                <p style="margin:unset">Arrastre una pregunta</p>
                <ul class="Drop" id="drop" name="Pregunta2" ondrop="drop(event)" ondragover="allowDrop(event)" style="width:168px;height:28px"></ul>
                <br />
                <button class="button black" style="margin-left:33px">Siguiente</button>
            </div>
        }
    </div>
</body>