@{
    ViewBag.Title = "Respuesta";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Cosa.css" rel="stylesheet" />
    <link href="~/Styles/Buttons.css" rel="stylesheet" />
    <link href="~/Styles/Tables.css" rel="stylesheet" />
    <style>
        .bit {
            height: 29px;
        }
        td{
            text-align:center;
        }
    </style>
</head>
<body class="w3-black">
    <div class="w3-padding-large" id="main">
        <center><h2>Respuesta</h2></center>
        @if (ViewBag.Arriesgar == null)
        {
            if (ViewBag.Respuesta == false)
            {
                <center><h3 style="color:red">¡La respuesta es NO!</h3></center>
            }
            else
            {
                <center><h3 style="color:lightgreen">¡La respuesta es SI!</h3></center>
            }
        }
        else
        {
                <center><h3 style="color:red">¡Ese no es el personaje!</h3></center>
        }
        <table align="center" bordercolor="Black" style="width:100%">
            <tr style="background-color:#222222">
                <td><center><h2><b>Opción</b></h2></center></td>
                <td><center><h2><b>Precio</b></h2></center></td>
            </tr>
            <tr>
                <td>
                    <a href="@Url.Action("Preguntas", "Game")">Hacer otra pregunta</a>
                </td>
                <td><img class="bit" src="~/Content/bitcoins/oro.png" />500</td>
            </tr>
            <tr>
                <td>
                    <a href="@Url.Action("Mostrar_personajes", "Game")">Ver a los personajes</a>
                </td>
                <td><img class="bit" src="~/Content/bitcoins/oro.png" />5.000</td>
            </tr>
            <tr>
                <td>
                    <a href="@Url.Action("Arriesgar_personaje", "Game")">Arriesgar personaje</a>
                </td>
                <td><img class="bit" src="~/Content/bitcoins/oro.png" />50.000</td>
            </tr>
        </table>
    </div>
</body>