@{
    ViewBag.Title = "Home Page";
}

<head>

</head>
<body class="w3-black">
    <div class="w3-padding-large" id="main">
        <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
            <h1 class="w3-jumbo"><span class="w3-hide-small">¿Quién es quién?</span></h1>
        </header>
        <br />
        <h2><b>Intrucciones</b></h2>
        <p style="width:50%">
            Es un juego de adivinanzas para dos jugadores, cada jugador recibe una cantidad de personajes y elige uno.
            Con las características de los personajes que están predeterminadas en el juego, el mismo,
            tiene que ir preguntando al otro jugador por turno que características tiene el personaje que eligió, al mismo tiempo,
            tiene que ir descartando todos los personajes que no cumplan con esas características hasta encontrar el personaje elegido por su contrincante.
        </p>
    </div>
</body>
